$Fugue : 'Fugue';
$Calibre : 'Calibre';
$Austin-Cyrllic : 'Austin Cyr';
$Austin-Cyrllic-roman : 'Austin Cyr Roman';
$Brandon-Text: 'Brandon Text';

$white : #F8FBFC;
$black : #212122;
$gray : #979EA4;
$lightGray : #C2C9CE;
$peach : #F69EAC;

@mixin absolute-center(){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin transform-origin($trans){
	transform-origin: $trans;
	-webkit-transform-origin: $trans;
    -moz-transform-origin: $trans;
    -ms-transform-origin: $trans;
}

@mixin transform($trans){
	transform: $trans;
	-webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
}

body{
	margin: 0;
	overflow-x: hidden;
}

.flex{
	@include flexbox();
}

.title{
	font-family: $Fugue;
	font-weight: normal;
}

.austin{
	font-family: $Austin-Cyrllic;
	font-weight: normal;
}

.calibre{
	font-family: $Calibre;
	font-weight: normal;
}

#container{
	height: 100vh;
	width: 100vw;
	img{
		height: 100%;
	}
}

/* UI */
#ui{
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.activePlus{
	.plus:hover{
		div:first-child{
			transform: rotate(0deg);
		}
	}
}

#projectsLink{
	color: $white;
	position: fixed;
	left: 7vh;
	top: 7vh;
	z-index: 3000;
	font-weight: normal;
	font-size: 35px;
	margin: 0;

	.plus{
		position: relative;
		height: 23px;
		width: 23px;
		div{
			height: 4px;
			width: 100%;
			background-color: $white;
			position: absolute;
			transition: .3s ease;
		}
		div:first-child{
			transform: rotate(0deg);
		}
		margin-bottom: -5px;
		cursor: pointer;
	}

	a{
		margin: 0;
		cursor: pointer;
	}

}

#projectsLink:hover{
	.plus{
		div:first-child{
			transform: rotate(90deg);
		}
	}
}

#mail{
	position: absolute;
	font-size: 25px;
	font-weight: normal;
	color: $white;
	right: 7vh;
	top: 7vh;
	a{
		margin-left: 125px;
	}
}

// .topNav{
// 	@include justify-content(space-between);
// 	@include align-items(flex-start);
// 	margin: 7vh;
// }

.bottomNav{
	@include justify-content(space-between);
	@include align-items(center);
	margin-left: 7vh;
	margin-bottom: 5vh;
	position: absolute;
	bottom: 0;
	width: 100%;

	.mod-text{
		font-size: 25px;
		font-weight: normal;
		color: $white;
	}
}

/* TITLE */

#mainTitle{
	@include absolute-center;
	color: $white;
	text-align: center;
	h1{
		font-size: 13vh;
		margin: 0;
	}

	div{
		width: 100%;
		height: 5px;
		background-color: $white;
		margin: 0;
		margin-bottom: 27px;
	}

	h2{
		font-size: 30px;
		font-weight: lighter;
	}
}

/* PROJECTS */

#projectsPage{
	display: flex;
	height: 100vh;
	width: 100vw;
	background: rgba(33, 33, 34, .85);
	position: absolute;
	left: -100%;
	z-index: 2000;
	top: 0;
	transition: .7s ease;
	overflow: hidden;
}

.projectsList{
	border-right: 1px $gray solid;
	// width: 21%;
	padding-left: 7vh;
	padding-right: 9vh;
	height: 100%;
	padding-top: 30vh;
	white-space: nowrap;
}

.projectsYear{
	margin-bottom: 20vh;
	display: flex;
	align-items: flex-start;
	padding-left: 38px;
	padding-top: 0px;
	position: relative;
	.year{
		color: $white;
		font-size: 18px;
		position: absolute;
	    top: 4px;
	    right: 100%;
	    white-space: nowrap;
	    @include transform-origin(right top);
	    @include transform(rotate(270deg));
		font-family: $Austin-Cyrllic-roman;
		a::before{
			content: "";
			width: 100%;
			height: 2px;
			background-color: $peach;
			position: absolute;
			bottom: 0;
			@include transform-origin(center);
			@include transform(scaleX(0));
			transition: .15s ease;
		}

		a:visited::before{
			@include transform(scaleX(1));
		}

		a:hover{
			cursor: pointer;
		}

		a:hover::before{
			 @include transform(scaleX(1));
		}
	}

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			text-decoration: none;
			a{
				position: relative;
				color: $white;
				font-size: 23px;
				font-weight: 300;
			}


			a::before{
				content: "";
				width: 105%;
				height: 100%;
				background-color: $peach;
				position: absolute;
				left: -5%;
				bottom: 0;
				z-index: -1;
				@include transform-origin(left);
				@include transform(scaleX(0));
				transition: .3s ease;
			}

			a:hover{
				cursor: pointer;
			}

			a:hover::before{
				 @include transform(scaleX(1));
			}
		}
	}
}

#projects{
	overflow-y: scroll;
}

#projects::-webkit-scrollbar { width: 0 !important }
#projects{ -ms-overflow-style: none; }

.project{
	width: 100%;
	padding: 50px;

	// border-bottom: 1px $gray solid;
	.projectImage{
		margin-bottom: 25px;
		// width: 100%;
		overflow: hidden;
		img{
			width: 100%;
			max-height: 60vh;
		}
	}

	.projectDescription{
		h1{
			font-family: $Calibre;
			font-size: 45px;
			color: $white;
			margin: 0;
			margin-bottom: 12px;
			font-weight: normal;
			border-bottom: 2.5px solid $white;
			display: inline-block;
		}

		p{
			font-family: $Brandon-Text;
			font-size: 22px;
			color: $lightGray;
			margin: 0;
			font-weight: normal;
		}
	}

	.demo{
		a{
			font-family: $Calibre;
			color: $white;
			font-size: 17px;
		}
		background-color: $black;
		transition: .4s ease;
	}
}
