h1, h2, header, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

body {
  margin: 0;
  overflow-x: hidden; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.title {
  font-family: "Fugue";
  font-weight: normal; }

.austin {
  font-family: "Austin Cyr";
  font-weight: normal; }

.calibre {
  font-family: "Calibre";
  font-weight: normal; }

.bodyText {
  font-family: "Brandon Text";
  font-weight: normal; }

#container {
  height: 100vh;
  width: 100vw;
  background: url(../assets/img/render.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.white {
  color: #F8FBFC; }

/* UI */
.ui {
  transition: all .25s ease;
  z-index: 2000; }

.activePlus .plus:hover div:first-child {
  transform: rotate(0deg); }

#projectsLink {
  position: fixed;
  left: 7vh;
  top: 7vh;
  z-index: 3000;
  font-weight: normal;
  font-size: 35px;
  margin: 0; }
  #projectsLink .plus {
    position: relative;
    height: 23px;
    width: 23px;
    margin-bottom: -5px;
    cursor: pointer; }
    #projectsLink .plus div {
      height: 4px;
      width: 100%;
      background-color: #F8FBFC;
      position: absolute;
      transition: .3s ease; }
    #projectsLink .plus div:first-child {
      transform: rotate(0deg); }
  #projectsLink .plus:hover div:first-child {
    transform: rotate(90deg); }
  #projectsLink a {
    margin: 0;
    cursor: pointer; }

.aboutActive div:first-child a::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1); }

.whoActive div:nth-child(2) a::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1); }

.leftNav {
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  position: fixed;
  left: 3vh;
  top: 50%;
  z-index: 2000; }
  .leftNav div {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    margin-bottom: 125px; }
  .leftNav .mod-text {
    font-size: 25px; }
  .leftNav a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #F69EAC;
    position: absolute;
    bottom: 0;
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transition: .15s ease; }
  .leftNav a:visited::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1); }
  .leftNav a:hover {
    cursor: pointer; }
  .leftNav a:hover::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1); }

#mail {
  position: fixed;
  font-size: 25px;
  font-weight: normal;
  z-index: 2000;
  right: 7vh;
  top: 7vh; }
  #mail a {
    color: #F8FBFC;
    margin-left: 125px; }
  #mail a:hover {
    cursor: pointer; }

.bottomNav {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-left: 7vh;
  margin-bottom: 5vh;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .bottomNav .mod-text {
    font-size: 25px;
    font-weight: normal; }

.socialLinks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: fixed;
  right: 7vh;
  bottom: 3vh; }
  .socialLinks .line {
    height: 1px;
    width: 150px;
    background-color: #F8FBFC; }
  .socialLinks a {
    margin-left: 40px;
    text-decoration: none !important;
    background: none;
    color: inherit;
    font-size: 20px; }
    .socialLinks a i {
      color: inherit;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
      background: transparent !important; }
  .socialLinks a:hover {
    cursor: pointer;
    color: #ACD8F2; }

.rightLine {
  position: fixed;
  right: 7vh;
  bottom: 90px;
  width: 20px;
  z-index: 2000; }
  .rightLine .line {
    right: 7vh;
    margin: auto;
    height: 100px;
    width: 1px;
    background-color: #F8FBFC; }
  .rightLine .circle {
    margin: auto;
    margin-bottom: 40px;
    background-color: #F8FBFC;
    height: 5px;
    width: 5px;
    border-radius: 5px; }

/* TITLE */
#mainTitle {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F8FBFC;
  text-align: center; }
  #mainTitle h1 {
    font-size: 100px;
    margin: 0; }
  #mainTitle div {
    width: 100%;
    height: 5px;
    background-color: #F8FBFC;
    margin: 0;
    margin-bottom: 27px; }
  #mainTitle h2 {
    font-size: 30px;
    font-weight: lighter; }

/* PROJECTS */
#projectsPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgba(33, 33, 34, 0.85);
  position: fixed;
  left: -100%;
  z-index: 2000;
  top: 0;
  transition: left .7s, opacity .4s;
  overflow: hidden;
  opacity: 0; }

.projectsList {
  border-right: 1px #979EA4 solid;
  padding-left: 7vh;
  padding-right: 9vh;
  height: 100%;
  padding-top: 30vh;
  white-space: nowrap; }

.projectsYear {
  margin-bottom: 20vh;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  position: relative; }
  .projectsYear .year {
    color: #F8FBFC;
    font-size: 18px;
    position: absolute;
    top: 4px;
    right: 100%;
    white-space: nowrap;
    transform-origin: right top;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    font-family: "Austin Cyr Roman"; }
    .projectsYear .year a::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #F69EAC;
      position: absolute;
      bottom: 0;
      transform-origin: center;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transition: .15s ease; }
    .projectsYear .year a:visited::before {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1); }
    .projectsYear .year a:hover {
      cursor: pointer; }
    .projectsYear .year a:hover::before {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1); }
  .projectsYear ul {
    margin: 0;
    margin-left: 38px;
    padding: 0;
    list-style: none; }
    .projectsYear ul li {
      text-decoration: none; }
      .projectsYear ul li a {
        position: relative;
        color: #F8FBFC;
        font-size: 23px;
        font-weight: 300; }
      .projectsYear ul li a::before {
        content: "";
        width: 112%;
        height: 100%;
        background-color: #F69EAC;
        position: absolute;
        left: -8%;
        bottom: 0;
        z-index: -1;
        transform-origin: left;
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -ms-transform-origin: left;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transition: .3s ease; }
      .projectsYear ul li a:hover {
        cursor: pointer; }
      .projectsYear ul li a:hover::before {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1); }

#projects {
  overflow-y: scroll; }

#projects::-webkit-scrollbar {
  width: 0 !important; }

#projects {
  -ms-overflow-style: none; }

.project {
  width: 100%;
  padding: 50px; }
  .project .projectImage {
    margin-bottom: 25px;
    overflow: hidden; }
    .project .projectImage img {
      width: 100%;
      max-height: 60vh; }
  .project .projectDescription h1 {
    font-family: "Calibre";
    font-size: 45px;
    color: #F8FBFC;
    margin: 0;
    margin-bottom: 12px;
    font-weight: normal;
    border-bottom: 2.5px solid #F8FBFC;
    display: inline-block; }
  .project .projectDescription p {
    font-family: "Brandon Text";
    font-size: 22px;
    color: #C2C9CE;
    margin: 0;
    margin-bottom: 50px;
    font-weight: normal; }
  .project .demo {
    display: inline-block;
    position: relative;
    perspective: 500px; }
    .project .demo div {
      position: absolute;
      transform-style: preserve-3d;
      background-color: #F8FBFC;
      transition: .4s ease;
      transform: rotateX(90deg) rotateY(-90deg);
      z-index: -1;
      height: 100%;
      width: 100%; }
    .project .demo a {
      font-family: "Calibre";
      color: #F8FBFC;
      font-size: 17px;
      transition: .3s; }
  .project .demo:hover {
    cursor: pointer; }
    .project .demo:hover div {
      transform: rotateX(0deg) rotateY(0deg); }
    .project .demo:hover a {
      color: #212122; }

/* ABOUT US */
#about, #who {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #F8FBFC;
  position: relative; }
  #about .main, #who .main {
    text-align: center; }
    #about .main .title, #who .main .title {
      color: #212122;
      margin: auto;
      display: inline-block;
      font-size: 67px;
      text-align: center;
      border-bottom: 4px #212122 solid;
      margin-bottom: 40px; }
    #about .main .bodyText, #who .main .bodyText {
      text-align: justify;
      margin: auto;
      max-width: 700px;
      color: #979EA4;
      font-size: 21px; }
  #about .blobs div, #who .blobs div {
    pointer-events: none;
    position: absolute; }
    #about .blobs div img, #who .blobs div img {
      width: 100%; }

#about .blobs div:first-child {
  width: 500px;
  top: -260px;
  right: 25px; }
#about .blobs div:nth-child(2) {
  width: 1100px;
  bottom: -300px;
  right: -520px; }
#about .blobs div:nth-child(3) {
  width: 200px;
  left: -30px;
  bottom: -30px; }
#about .blobs div:nth-child(4) {
  width: 400px;
  top: -320px;
  left: -100px; }
#about .blobs div:nth-child(5) {
  width: 80px;
  top: 220px;
  right: 50px; }
#about .blobs div:nth-child(6) {
  width: 40px;
  top: 150px;
  left: 300px; }

#who {
  background-color: #101723; }
  #who .main .title {
    color: #F8FBFC;
    border-bottom: #F8FBFC 4px solid; }
  #who .main .bodyText {
    color: #F8FBFC; }
  #who .blobs div:first-child {
    width: 1100px;
    left: -650px;
    bottom: -390px; }
  #who .blobs div:nth-child(2) {
    width: 210px;
    right: -40px;
    top: -120px;
    transform: rotate(90deg); }
  #who .blobs div:nth-child(3) {
    width: 70px;
    right: 50px;
    bottom: 50px; }
  #who .blobs div:nth-child(4) {
    width: 300px;
    top: -200px;
    left: -75px; }
  #who .blobs div:nth-child(5) {
    width: 50px;
    top: 300px;
    left: 100px; }

/*# sourceMappingURL=style.css.map */
