body {
  margin: 0;
  overflow-x: hidden; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.title {
  font-family: "Fugue";
  font-weight: normal; }

.austin {
  font-family: "Austin Cyr";
  font-weight: normal; }

.calibre {
  font-family: "Calibre";
  font-weight: normal; }

#container {
  height: 100vh;
  width: 100vw; }
  #container img {
    height: 100%; }

/* UI */
#ui {
  position: fixed;
  height: 100vh;
  width: 100vw; }

.activePlus .plus:hover div:first-child {
  transform: rotate(0deg); }

#projectsLink {
  color: #F8FBFC;
  position: fixed;
  left: 7vh;
  top: 7vh;
  z-index: 3000;
  font-weight: normal;
  font-size: 35px;
  margin: 0; }
  #projectsLink .plus {
    position: relative;
    height: 23px;
    width: 23px;
    margin-bottom: -5px;
    cursor: pointer; }
    #projectsLink .plus div {
      height: 4px;
      width: 100%;
      background-color: #F8FBFC;
      position: absolute;
      transition: .3s ease; }
    #projectsLink .plus div:first-child {
      transform: rotate(0deg); }
  #projectsLink a {
    margin: 0;
    cursor: pointer; }

#projectsLink:hover .plus div:first-child {
  transform: rotate(90deg); }

#mail {
  position: absolute;
  font-size: 25px;
  font-weight: normal;
  color: #F8FBFC;
  right: 7vh;
  top: 7vh; }
  #mail a {
    margin-left: 125px; }

.bottomNav {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-left: 7vh;
  margin-bottom: 5vh;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .bottomNav .mod-text {
    font-size: 25px;
    font-weight: normal;
    color: #F8FBFC; }

/* TITLE */
#mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F8FBFC;
  text-align: center; }
  #mainTitle h1 {
    font-size: 13vh;
    margin: 0; }
  #mainTitle div {
    width: 100%;
    height: 5px;
    background-color: #F8FBFC;
    margin: 0;
    margin-bottom: 27px; }
  #mainTitle h2 {
    font-size: 30px;
    font-weight: lighter; }

/* PROJECTS */
#projectsPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgba(33, 33, 34, 0.85);
  position: absolute;
  left: -100%;
  z-index: 2000;
  top: 0;
  transition: left .7s, opacity .4s;
  overflow: hidden;
  opacity: 0; }

.projectsList {
  border-right: 1px #979EA4 solid;
  padding-left: 7vh;
  padding-right: 9vh;
  height: 100%;
  padding-top: 30vh;
  white-space: nowrap; }

.projectsYear {
  margin-bottom: 20vh;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  position: relative; }
  .projectsYear .year {
    color: #F8FBFC;
    font-size: 18px;
    position: absolute;
    top: 4px;
    right: 100%;
    white-space: nowrap;
    transform-origin: right top;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    font-family: "Austin Cyr Roman"; }
    .projectsYear .year a::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #F69EAC;
      position: absolute;
      bottom: 0;
      transform-origin: center;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transition: .15s ease; }
    .projectsYear .year a:visited::before {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1); }
    .projectsYear .year a:hover {
      cursor: pointer; }
    .projectsYear .year a:hover::before {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1); }
  .projectsYear ul {
    margin: 0;
    margin-left: 38px;
    padding: 0;
    list-style: none; }
    .projectsYear ul li {
      text-decoration: none; }
      .projectsYear ul li a {
        position: relative;
        color: #F8FBFC;
        font-size: 23px;
        font-weight: 300; }
      .projectsYear ul li a::before {
        content: "";
        width: 112%;
        height: 100%;
        background-color: #F69EAC;
        position: absolute;
        left: -8%;
        bottom: 0;
        z-index: -1;
        transform-origin: left;
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -ms-transform-origin: left;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transition: .3s ease; }
      .projectsYear ul li a:hover {
        cursor: pointer; }
      .projectsYear ul li a:hover::before {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1); }

#projects {
  overflow-y: scroll; }

#projects::-webkit-scrollbar {
  width: 0 !important; }

#projects {
  -ms-overflow-style: none; }

.project {
  width: 100%;
  padding: 50px; }
  .project .projectImage {
    margin-bottom: 25px;
    overflow: hidden; }
    .project .projectImage img {
      width: 100%;
      max-height: 60vh; }
  .project .projectDescription h1 {
    font-family: "Calibre";
    font-size: 45px;
    color: #F8FBFC;
    margin: 0;
    margin-bottom: 12px;
    font-weight: normal;
    border-bottom: 2.5px solid #F8FBFC;
    display: inline-block; }
  .project .projectDescription p {
    font-family: "Brandon Text";
    font-size: 22px;
    color: #C2C9CE;
    margin: 0;
    margin-bottom: 50px;
    font-weight: normal; }
  .project .demo {
    display: inline-block;
    position: relative;
    perspective: 500px; }
    .project .demo div {
      position: absolute;
      transform-style: preserve-3d;
      background-color: #F8FBFC;
      transition: .4s ease;
      transform: rotateX(90deg) rotateY(-90deg);
      z-index: -1;
      height: 100%;
      width: 100%; }
    .project .demo a {
      font-family: "Calibre";
      color: #F8FBFC;
      font-size: 17px;
      transition: .3s; }
  .project .demo:hover {
    cursor: pointer; }
    .project .demo:hover div {
      transform: rotateX(0deg) rotateY(0deg); }
    .project .demo:hover a {
      color: #212122; }

/*# sourceMappingURL=style.css.map */
