$Fugue : 'Fugue';
$Calibre : 'Calibre';
$Austin-Cyrllic : 'Austin Cyr';
$Austin-Cyrllic-roman : 'Austin Cyr Roman';
$Brandon-Text: 'Brandon Text';

$white : #F8FBFC;
$black : #2e3035;
$gray : #979EA4;
$lightGray : #C2C9CE;
$peach : #F69EAC;
$darkBlue : #101723;
$blue : #ACD8F2;

h1, h2, header, p, a{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
	text-decoration: none;
}

@mixin absolute-center(){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin transform-origin($trans){
	transform-origin: $trans;
	-webkit-transform-origin: $trans;
    -moz-transform-origin: $trans;
    -ms-transform-origin: $trans;
}

@mixin transform($trans){
	transform: $trans;
	-webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
}

@mixin flex-direction($value){
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@mixin transition($value){
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	transition: $value;
}

body{
	margin: 0;
	overflow-x: hidden;
}

.flex{
	@include flexbox();
}

.title{
	font-family: $Fugue;
	font-weight: normal;
}

.austin{
	font-family: $Austin-Cyrllic;
	font-weight: normal;
}

.calibre{
	font-family: $Calibre;
	font-weight: normal;
}

.bodyText{
	font-family: $Brandon-Text;
	font-weight: normal;
}

#container{
	height: 100vh;
	width: 100vw;
	background: url(../assets/img/render.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.white{
	color: $white;
}

.black{
	color: $black;
}

.lightGray{
	color: $lightGray;
}

.gray{
	color: $gray;
}

/* UI */

.ui{
	transition: all .25s ease;
	z-index: 2000;
}

.activePlus{
	.plus:hover{
		div:first-child{
			transform: rotate(0deg);
		}
	}
}

#projectsLink{
	// color: $white;
	position: fixed;
	left: 7vh;
	top: 7vh;
	z-index: 3000;
	font-weight: normal;
	font-size: 35px;
	margin: 0;

	.plus{
		position: relative;
		height: 23px;
		width: 23px;
		div{
			height: 4px;
			width: 100%;
			background-color: $black;
			position: absolute;
			transition: .3s ease;
		}
		div:first-child{
			transform: rotate(0deg);
		}
		margin-bottom: -5px;
		cursor: pointer;
	}

	a{
		margin: 0;
		cursor: pointer;
	}

}

#projectsLink:hover{
	.plus{
		div:first-child{
			transform: rotate(90deg);
		}
	}
}

.aboutActive{
	div:first-child{
		a::before{
			@include transform(scaleX(1));
		}
	}
}

.whoActive{
	div:nth-child(2){
		a::before{
			@include transform(scaleX(1));
		}
	}
}
.leftNav{
	// @include flexbox();
	// @include align-items(center);
	// @include justify-content(space-around);
	@include transform(translateY(-30%));
	position: fixed;
	left: 3vh;
	top: 50%;
	z-index: 2000;
	div{
		@include transform(rotate(270deg));
		margin-bottom: 125px;
	}
	.mod-text{
		// color: $white;
		font-size: 25px;
	}
	a::before{
		content: "";
		width: 100%;
		height: 2px;
		background-color: $peach;
		position: absolute;
		bottom: 0;
		@include transform-origin(center);
		@include transform(scaleX(0));
		transition: .15s ease;
	}

	a:visited::before{
		@include transform(scaleX(1));
	}

	a:hover{
		cursor: pointer;
	}

	a:hover::before{
		 @include transform(scaleX(1));
	}
}

#mail{
	position: fixed;
	font-size: 25px;
	font-weight: normal;
	z-index: 2000;
	right: 7vh;
	top: 7vh;
	a{	
		color: $black;
		margin-left: 125px;
		position: relative;
	}
	a::before{
		content: "";
		width: 100%;
		height: 2px;
		background-color: $peach;
		position: absolute;
		bottom: 0;
		@include transform-origin(center);
		@include transform(scaleX(0));
		transition: .15s ease;
	}

	a:visited::before{
		@include transform(scaleX(1));
	}

	a:hover{
		cursor: pointer;
	}

	a:hover::before{
		 @include transform(scaleX(1));
	}
}

// .topNav{
// 	@include justify-content(space-between);
// 	@include align-items(flex-start);
// 	margin: 7vh;
// }

.bottomNav{
	@include justify-content(space-between);
	@include align-items(center);
	margin-left: 7vh;
	margin-bottom: 5vh;
	position: absolute;
	bottom: 0;
	width: 100%;

	.mod-text{
		font-size: 25px;
		font-weight: normal;
		// color: $white;
	}
}

.socialLinks{
	@include flexbox();
	@include align-items(center);
	position: fixed;
	right: 7vh;
	bottom: 3vh;
	.line{
		height: 1px;
		width: 150px;
		background-color: $black;
	}
	a{
		margin-left: 40px;
		text-decoration: none !important;
		background: none;
		font-size: 20px;
		i{	
			color: $black;
			@include transition(all .15s ease !important);
			background: transparent !important;
		}
		i:hover{
			cursor: pointer;
			color: $peach;
		}
	}
}

.rightLine{
	position: fixed;
	right: 7vh;
	bottom: 90px;
	width: 20px;
	z-index: 2000;
	.line{
		right: 7vh;
		margin: auto;
		height: 100px;
		width: 1px;
		background-color: $black;
	}
	.circle{
		margin: auto;
		margin-bottom: 40px;
		background-color: $black;
		height: 5px;
		width: 5px;
		border-radius: 5px;
	}
}

/* TITLE */

#mainTitle{
	pointer-events: none;
	@include absolute-center;
	color: $black;
	text-align: center;
	h1{
		font-size: 100px;
		margin: 0;
	}

	div{
		width: 100%;
		height: 5px;
		background-color: $black;
		margin: 0;
		margin-bottom: 27px;
	}

	h2{
		font-size: 30px;
		font-weight: lighter;
	}
}

/* PROJECTS */

#projectsPage{
	display: flex;
	height: 100vh;
	width: 100vw;
	background: rgba(33, 33, 34, .85);
	position: fixed;
	left: -100%;
	z-index: 2000;
	top: 0;
	transition: left .5s, opacity .4s;
	overflow: hidden;
	opacity: 0;
}

.projectsList{
	border-right: 1px $gray solid;
	// width: 21%;
	padding-left: 7vh;
	padding-right: 9vh;
	height: 100%;
	padding-top: 30vh;
	white-space: nowrap;
}

.projectsYear{
	margin-bottom: 20vh;
	display: flex;
	align-items: flex-start;
	padding-top: 0px;
	position: relative;
	.year{
		color: $white;
		font-size: 20px;
		position: absolute;
	    top: 4px;
	    right: 100%;
	    white-space: nowrap;
	    @include transform-origin(right top);
	    @include transform(rotate(270deg));
		font-family: $Calibre;

		a::before{
			content: "";
			width: 100%;
			height: 1px;
			background-color: $peach;
			position: absolute;
			bottom: 0;
			@include transform-origin(center);
			@include transform(scaleX(1));
			transition: .15s ease;
		}

		a:visited::before{
			@include transform(scaleX(1));
		}

		a:hover{
			cursor: pointer;
		}

		a:hover::before{
			 @include transform(scaleX(1));
		}
	}

	ul{
		margin: 0;
		margin-left: 38px;
		padding: 0;
		list-style: none;
		li{
			text-decoration: none;
			a{
				position: relative;
				font-size: 23px;
				font-weight: 300;
			}


			a::before{
				content: "";
				width: 112%;
				height: 100%;
				background-color: $peach;
				position: absolute;
				left: -8%;
				bottom: 0;
				z-index: -1;
				@include transform-origin(left);
				@include transform(scaleX(0));
				transition: .3s ease;
			}

			a:hover{
				cursor: pointer;
			}

			a:hover::before{
				 @include transform(scaleX(1));
			}
		}
	}
}

#projects{
	overflow-y: scroll;
}

#projects::-webkit-scrollbar { width: 0 !important }
#projects{ -ms-overflow-style: none; }

.project{
	padding: 50px;

	// border-bottom: 1px $gray solid;
	.projectImage{
		margin-bottom: 25px;
		// width: 100%;
		overflow: hidden;
		img{
			width: auto;
			max-height: 60vh;
		}
	}

	.projectDescription{
		h1{
			font-family: $Calibre;
			font-size: 45px;
			color: $white;
			margin: 0;
			margin-bottom: 12px;
			font-weight: normal;
			border-bottom: 2.5px solid $white;
			display: inline-block;
		}

		p{
			font-family: $Brandon-Text;
			font-size: 22px;
			color: $lightGray;
			margin: 0;
			margin-bottom: 50px;
			font-weight: normal;
		}
	}

	.demo{
		display: inline-block;
		position: relative;
		perspective: 500px;
		div{
			position: absolute;
			transform-style: preserve-3d;
			background-color: $white;
			transition: .4s ease;
			transform: rotateX(90deg) rotateY(-90deg);
			z-index: -1;
			height: 100%;
			width: 100%;
		}
		a{
			font-family: $Calibre;
			color: $white;
			font-weight: 500;
			font-size: 20px;
			transition: .3s;
		}
	}

	.demo:hover{
		cursor: pointer;
		div{
			transform: rotateX(0deg) rotateY(0deg);
		}

		a{
			color: $black;
		}
	}
}

/* ABOUT US */

#about, #who{
	overflow:hidden;
	height: 100vh;
	width: 100vw;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	background-color: $white;
	position: relative;
	.main{
		text-align: center;
		.title{
			color: $black;
			margin: auto;
			display: inline-block;
			font-size: 67px;
			text-align: center;
			border-bottom: 4px $black solid;
			margin-bottom: 40px;
		}
		.bodyText{
			text-align: justify;
			margin: auto;
			max-width: 700px;
			color: $gray;
			font-size: 21px;
		}
	}

	.blobs{
		div{
			pointer-events: none;
			position: absolute;
			img{
				width: 100%;
			}
		}
	}
}

#about{
	.blobs{
		div:first-child{
			width: 500px;
			top: -260px;
			right: 25px;
		}
		div:nth-child(2){
			width: 1100px;
			bottom: -300px;
			right: -520px;
		}
		div:nth-child(3){
			width: 200px;
			left: -30px;
			bottom: -30px;
		}
		div:nth-child(4){
			width: 400px;
			top: -320px;
			left: -100px;
		}
		div:nth-child(5){
			width: 80px;
			top: 220px;
			right: 50px;
		}
		div:nth-child(6){
			width: 40px;
			top: 150px;
			left: 300px;
		}
	}
}

#who{
	background-color: $darkBlue;
	.main{
		.title{
			color: $white;
			border-bottom: $white 4px solid;
		}
		.bodyText{
			color: $white;
		}
	}
	.blobs{
		div:first-child{
			width: 1100px;
			left: -650px;
			bottom: -390px;
		}
		div:nth-child(2){
			width: 210px;
			right: -40px;
			top: -120px;
			transform: rotate(90deg);
		}
		div:nth-child(3){
			width: 70px;
			right: 50px;
			bottom: 50px;
		}
		div:nth-child(4){
			width: 300px;
			top: -200px;
			left: -75px;
		}
		div:nth-child(5){
			width: 50px;
			top: 300px;
			left: 100px;
		}
		
	}
}
