
<div id="home">
	<div class="splash container-fluid">
		<div class="container hero">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h1>We are</h1>
					<h1>Creative Labs</h1>
					<p>The digital design community @ UCLA</p>
					<a class="sex" href="http://eepurl.com/ch0ah5"><span data-hover="Mailing List">Mailing List</span></a>
					<a class="sex" href="https://goo.gl/forms/BQWytnlZtr0MXxKL2"><span data-hover="Apply Now">Apply For Projects</span></a>
					<div class="socialLinks">
						<a href="https://www.facebook.com/groups/1582163205409072/"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/bruinentreprenr"><i class="fa fa-twitter"></i></a>
						<a href="https://medium.com/creative-labs"><i class="fa fa-medium"></i></a>
						<a href="mailto:creatives@bruinentrepreneurs.org"><i class="fa fa-envelope"></i></a>
					</div>
					<!-- <img src="assets/images/homePhone.svg" class="mobOnly"> -->
				</div>
				<div class="homePeople">

				</div>
			</div>
		</div>
	</div>

	<div class="about container-fluid">
		<div class="container hero">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h1>About us</h1>
					<p>Have you ever wanted to join a creative community at UCLA where you can collaborate on real life projects, share skills, and just hangout?</p>
					<p>Well, Creative Labs is just that! We seek to bridge the gap between north and south campus at UCLA by bringing passionate and creative students together to work on cool projects.</p>
					<p>We also serve as a mini agency to individuals or small companies who have design challenges involving branding, web and mobile design and helps them solve those by the collaboration of talented students at UCLA.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="forWhom container-fluid">
		<div class="container hero">
			<div class="row">
				<div class="col-xs-12">
					<div class="heroHeading">
						<h1><span class="cangeText">Who</span> can join</h1>
					</div>

					<div class="designers persona intro">
						<p>
							At least one of these is your life
							<ul>
							<li>UI+UX Design
							<li>Branding & Identity
							<li>Graphic & Web Design
							<li>Motion Graphics
							<li>Illustrations
							</ul>
						</p>
					</div>

					<div class="thinkers persona intro">
						<p>
							You are always thinking about
								<ul>
								<li>Finding problems
								<li>Solving problems
								<li>Doing things better
								<li>The experience
								<li>Meeting people
								</ul>
						</p>
					</div>

					<div class="developers persona intro">
						<p>
							You know a lot about
								<ul>
								<li>Front End Dev
								<li>The back end
								<li>iOS/Android
								<li>Those frameworks
								<li>Performance
								</ul>
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<p>
						If you are just interested in digital design and want to learn more, you can join too.
					</p>
					<a class="sex" href="https://goo.gl/forms/jsblRNgOS7CX3O2u2"><span data-hover="Apply Now">Apply Now</span></a>
				</div>
			</div>
		</div>
	</div>

	<div class="events container-fluid">
		<div class="container hero">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<h1>Events & Programs</h1>
					<p></p>
				</div>
				<div class="col-xs-12 col-md-7 col-md-offset-1 event">
					<p>We have a lot of exciting events planned for the quarter</p>
					<ul>
						<li>Speakers from Facebook
						<li>Speakers from Active Theory
						<li>Speakers from Use All Five
						<li>Speakers from Blind
						<li>Photoshop and Illustrator workshops
						<li>Quarter long projects
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
