 <div id="projects-main">
     <div class="splash">
        <h1 class="projects_title">Projects</h1>
    </div>

    <div id="projects">

      <div class="project" id="proj_alz">
        <a href="http://www.theyouthmovement.org/">
          <div class="proj_info">
            <h2>YOUTH MOVEMENT AGAINST ALZHEIMERS</h2>
            <p>Website for a non-profit.</p>
          </div>
          <div class="proj_bg"></div>
        </a>
      </div>

      <div class="project" id="proj_nextfest">
        <a href='http://futurizex.ucla.edu/nextfest.html'>
          <div class="proj_bg"></div>
          <div class="proj_info">
            <h2>NextFest</h2>
            <p>Promotional website for UCLA's inaugural tech summit.</p>
          </div>
        </a>
      </div>

      <div class="project" id="proj_vla">
        <a href='http://www.visualizingla.com/'>
          <div class="proj_bg"></div>
          <div class="proj_info">
            <h2>VISUALIZING LA</h2>
            <p>Interactive data visualization on LA transportation.</p>
          </div>
        </a>
      </div>

      <div class="project" id="proj_synaesthetic">
        <a href='http://synaesthetic.io'>
          <div class="proj_bg"></div>
          <div class="proj_info">
            <h2>Synaesthetic</h2>
            <p>Live music visualizer.</p>
          </div>
        </a>
      </div>

      <div class="project" id="proj_adayinla">
        <a href='https://uclacreativelabs.github.io/a-day-in-la/'>
          <div class="proj_bg"></div>
          <div class="proj_info">
            <h2>A Day in LA</h2>
            <p>An interactive web narrative for exploring the best places in LA.</p>
          </div>
        </a>
      </div>

      <div class="project" id="proj_news">
        <a href='https://medium.com/creative-labs/redesigning-the-digital-newspaper-6c5da66e7f2b#.8kk6rhu26'>
          <div class="proj_bg"></div>
          <div class="proj_info">
              <h2>DIGITAL NEWSPAPER DESIGN</h2>
              <p>Website for a non-profit.</p>
            </div>
        </a>
      </div>

      <div class="project" id="proj_clredesign">
        <a href='https://l.facebook.com/l.php?u=https%3A%2F%2Fmedium.com%2Fcreative-labs%2Fdesigning-a-website-for-creative-labs-406a841d4fe1%23.hkuadb9ed&h=ATN3VFvxU9EKLF-wvlgI7UFSnEmz_Dj3BrYYkvBy8lESoD8UAxIr-4HrTC4tjnS4A3iT61TYWdNVAAWH8CnStnD8-3L7yrhPVxj6x3sCl5bqeblrFPrnkSoZlJYa-DEVDmS3IooWuOQ'>
          <div class="proj_bg"></div>
          <div class="proj_info">
            <h2>CREATIVE LABS WEBSITE REDESIGN</h2>
            <p>The process behind our own website.</p>
          </div>
        </a>
      </div>

    </div>
    <!-- <div class="other-proj">
        <div class="box" id="other1"></div>
        <div class="box" id="other2"></div>
        <div class="box" id="other3"></div>
    </div> -->
</div>
